{
  "admins": [
    {
      "username": "serg",
      "password_hash": "pbkdf2_sha256$390000$5468b98e343193bd674fdcc63e24c74f$b78b20878e016f947147690703fe28bd63b7f6ed1f218a30580dc888f4f6a8cd",
      "permissions": [
        "settings:write",
        "slots:write",
        "stats:read"
      ]
    },
    {
      "username": "igor",
      "password_hash": "pbkdf2_sha256$390000$4e2f76851d2db157306966d84d1578ef$194c160e1f13e8213dac3348a4a3413f06ab08b050f9b496531be0a50f68af30",
      "permissions": [
        "settings:write",
        "slots:write",
        "stats:read"
      ]
    }
  ],
  "throttling": {
    "max_attempts": 5,
    "window_seconds": 60,
    "lockout_seconds": 300
  }
}
